body{
    background:#fcea9a;
    padding: 0;
}
h1{
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 5vh;
    font-family: 'Courier New', Courier, monospace;
    background: #dbdbd9;
    color: #000000;
}
h3{
    width: 100%;
    margin: 3vh 0 0 0;
    text-align: center;
    font-size: 3vh;
    font-family: 'Courier New', Courier, monospace;
    background: #dbdbdb;
    color: #000000;
}
.tabla{
    height: auto;
    width: 100%;
    padding: 1px;
    background-color: #d8d8d8;
    border: solid 2px #000;
    display: grid;
    grid-template-columns: 18% 18% 15% 10% 10% 23% 6%;
}
.superior{
    height: auto;
    font-size: 16px;
    text-align: center;
    background-color: #d8d8d8;
    margin: auto;
    margin-top: 2px;
    display: flex;
    flex-direction:row;
}
.inferior{
    height: auto;
    padding: 4px;
    font-size: 14px;
    background-color: #d8d8d8;
    margin: auto;
    margin-top: 2px;
    display: flex;
    flex-direction:row;
}
/*COLUMNAS INDIVIDUALES*/
.consulta{
    margin: auto;
}
@media screen and (max-width: 800px){
    h1{
        width: 100%;
        margin: 0;
        text-align: center;
        font-size: 5vh;
        font-family: 'Courier New', Courier, monospace;
        background: #dbdbd9;
        color: #000000;
    }
    h3{
        width: 100%;
        margin: 3vh 0 0 0;
        text-align: center;
        font-size: 3vh;
        font-family: 'Courier New', Courier, monospace;
        background: #dbdbdb;
        color: #000000;
    }
    .tabla{
        height: auto;
        width: 100%;
        background-color: #d8d8d8;
        border: solid 2px #000;
        display: grid;
        grid-template-columns: 16% 18% 15% 10% 10% 23% 8%;
    }
    .superior{
        height: auto;
        font-size: 9px;
        background-color: #d8d8d8;
        margin: auto;
        margin-top: 2px;
        display: flex;
        flex-direction:row;
    }
    .inferior{
        height: auto;
        font-size: 8px;
        background-color: #d8d8d8;
        margin: auto;
        margin-top: 2px;
        display: flex;
        flex-direction:row;
    }
    /*COLUMNAS INDIVIDUALES*/
    .email{
        text-align: start;
        word-wrap: break-word; /* Esto permite que las palabras se rompan y se ajusten dentro del contenedor */
        overflow: hidden; /* Esto oculta cualquier contenido que sobresalga del contenedor */
    }
    .consulta.superior{
        text-align: center;
        margin: auto;
        word-wrap: break-word; /* Esto permite que las palabras se rompan y se ajusten dentro del contenedor */
        overflow: hidden; /* Esto oculta cualquier contenido que sobresalga del contenedor */
    }
    .consulta{
        text-align: start;
        margin: 0;
        word-wrap: break-word; /* Esto permite que las palabras se rompan y se ajusten dentro del contenedor */
        overflow: hidden; /* Esto oculta cualquier contenido que sobresalga del contenedor */
    }
    .boton{
        width: 80%;
        padding: 0;
    }
}